@model Lahjapaja_CIM.Models.customer_site

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>customer_site</legend>

    <div class="display-label">customerSiteId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customerSiteId)
    </div>

    <div class="display-label">customer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer.name)
    </div>

    <div class="display-label">contact_person</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact_person.fName)
    </div>

    <div class="display-label">address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address.town)
    </div>

    <div class="display-label">address1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address1.town)
    </div>

    <div class="display-label">contract</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contract.contractId)
    </div>

    <div class="display-label">way_of_delivery</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.way_of_delivery.text)
    </div>

    <div class="display-label">term_of_delivery</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.term_of_delivery.text)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
