@model IEnumerable<Lahjapaja_CIM.Models.customer_site>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
&nbsp;
</p>
<p>
    @Html.ActionLink("Register new customer site", "Create", "CustomerSite", new { @class = "btn btn-success" })
</p>
<table id="DataTable">
<thead>
    <tr>
        <th style="width:5px">
            Customer site
        </th>
        <th>
            Name
        </th>
        @*<th>
            Status
        </th>*@
        <th>
            Customer name
        </th>
        <th>
            Contact person
        </th>
        <th>
            Delivery address
        </th>
        @*<th>
            Postal address
        </th>*@
       @* <th>
            Contract ID
        </th>*@
        <th>
            Way of delivery
        </th>
        <th>
            Terms of delivery
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
    
        <td>
            @Html.DisplayFor(modelItem => item.customerSiteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.status)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.customer.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_person.fName)
            @Html.DisplayFor(modelItem => item.contact_person.lName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address.town)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.address1.town)
        </td>*@
        @*<td style="width:5px">
            @Html.DisplayFor(modelItem => item.contract.contractId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.way_of_delivery.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.term_of_delivery.text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.customerSiteId }, new {@class="btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.customerSiteId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</tbody>
</table>
