@model Lahjapaja_CIM.Models.customer
@{
    ViewBag.Title = "Create";
    
}
<h2>Register new customer</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New customer registration</legend>
        <fieldset class="span3">
        <legend>Basic information</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.name, "Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.groupId, "Customer group")
        </div>
        <div class="editor-field">
            @Html.DropDownList("groupId", String.Empty)
            @Html.ValidationMessageFor(model => model.groupId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.status, "Status")
        </div>
        <div class="editor-field">
        @Html.DropDownList("status")
            @Html.ValidationMessageFor(model => model.status)
        </div>
        </fieldset>

        <fieldset class="span3">
            <legend>Visiting address</legend>
            <div>
                @{
    Html.RenderPartial("AddressPartial");
                }
            </div>
        </fieldset>
        <fieldset style="style="width:270px"">
            <legend>Postal address</legend>
            <div>
                @{
    Html.RenderPartial("AddressPartial");
                }
            </div>
        </fieldset>

        <fieldset class="span3">
        <legend>Contract</legend>
        <div>
        @{
    Html.RenderPartial("ContractPartial");
            }
        </div>
        
        </fieldset>

        <fieldset class="span3" style="width:540px">
        <legend>Contact person</legend>
        <div>
        @{
    Html.RenderPartial("ContactPersonPartial");
            }
        </div>
        <p>
            <input type="submit" class="btn btn-success" value="Submit" style="margin-right:1em"/>
            @Html.ActionLink("Cancel", "Index", "Customer", new {@class="btn btn-danger", @type="button"})
        </p>
        </fieldset>
        
    </fieldset>
}