@model IEnumerable<MKSK_Lahjapaja_CIM.Models.contract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            creditLimit
        </th>
        <th>
            discountRate
        </th>
        <th>
            way_of_delivery
        </th>
        <th>
            term_of_delivery
        </th>
        <th>
            payment_disorder
        </th>
        <th>
            term_of_payment
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.creditLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discountRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.way_of_delivery.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.term_of_delivery.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_disorder.creditabilityCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.term_of_payment.termOfPaymentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contractId }) |
            @Html.ActionLink("Details", "Details", new { id=item.contractId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contractId })
        </td>
    </tr>
}

</table>
