@model Lahjapaja_CIM.Models.address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>address</legend>

    <div class="display-label">town</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.town)
    </div>

    <div class="display-label">street</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.street)
    </div>

    <div class="display-label">houseNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.houseNo)
    </div>

    <div class="display-label">postCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.postCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.addressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
