@model IEnumerable<Lahjapaja_CIM.Models.address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="DataTable">
<thead>
    <tr>
        <th>
            town
        </th>
        <th>
            street
        </th>
        <th>
            houseNo
        </th>
        <th>
            postCode
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.houseNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.addressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.addressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.addressId })
        </td>
    </tr>
}
</tbody>
</table>
